@import "~bootstrap/scss/bootstrap";
@import "loginPage.scss";

body {

  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

* {
  box-sizing: border-box;
}

.tasks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
}

#indexTasks {
  .card {
    width: 100% !important;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 992px) {

  .tasks {
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-top: 1em;
  }
}



.logo {
  width: auto;
  height: 80px;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,
.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}
