{% extends 'base.html.twig' %}


{% block body %}
	<div class="row">

		<div class="col-lg-6 col-sm-12">
			<div class="d-grid gap-2" style="margin-top: 45px;">
				<a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
				<a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
				<a href="" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
			</div>
		</div>
		<div class="col-lg-6 col-sm-12" id="indexTasks">
			<h2>Vos 3 derniers taches :</h2>
			{% include "/partials/_taskList.html.twig" %}
		</div>
	</div>


{% endblock %}
